/*default version*/
@font-face {
	font-family: 'SFProText';
	src: 
		local('SF Pro Text'),
		local('SF-Pro-Text'),
		url('https://raw.githubusercontent.com/Sekams/my_settings/master/assets/fonts/SF-Pro-Text-Regular.otf') 
		format('opentype');
}
/*bold version*/
@font-face {
	font-family: 'SFProText';
	src: 
		local('SF Pro Text Bold'),
		local('SF-Pro-Text-Bold'),
		url('https://raw.githubusercontent.com/Sekams/my_settings/master/assets/fonts/SF-Pro-Text-Bold.otf') 
		format('opentype');
	font-weight: bold;
}

* {
    font-family: 'SFProText', sans-serif;
    font-size: 50px;
}