@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'Muli', sans-serif !important;
    text-shadow: none !important;
    background: #222222 !important;
    color: white !important;
}

.logo, #footer {
    display: none !important;
}

#power_off_btn, #mobile_connect_btn, #wlan_connect_btn {
    border: 1px solid white !important;
    border-radius: 6px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
}

#power_off_btn:before {
    font-family: FontAwesome;
    content:"\f011";
    font-size: 35px;
}

#mobile_connect_btn:before {
    font-family: FontAwesome;
    content:"\f0ac";
    font-size: 35px;
}

#mobile_connect_btn.mobile_connect_btn_on, #wlan_connect_btn.wlan_connect_btn_on{
    color: #86f325 !important;
    border-color: #86f325 !important;
}

#wlan_connect_btn:before {
    font-family: FontAwesome;
    content:"\f1eb";
    font-size: 35px;
}

.main_menu ul li a.active {
    border: 1px solid white !important;
    border-radius: 6px !important;
}

.main_menu ul li a.active span {
    background: transparent !important;
}

#union_main_menu {
    margin-bottom: 2em;
}

#statistics_mobile h2 {
    padding-left: 1em;
}